.accordion-test-0 .fm-accordion-section-header,
.accordion-test-1 .fm-accordion-section-header,
.accordion-test-2 .fm-accordion-section-header {
  background-color: #e8e3bf;
}

.accordion-test-3 .fm-accordion-section-header,
.accordion-test-4 .fm-accordion-section-header,
.accordion-test-5 .fm-accordion-section-header {
  background-color: #f6f4ee;
}

.accordion-test-6 .fm-accordion-section-header,
.accordion-test-7 .fm-accordion-section-header{
  background-color: #d3ced2;
}

.accordion-test-8 .fm-accordion-section-header,
.accordion-test-9 .fm-accordion-section-header {
  background-color: #dee7e2;
}

.accordion-test-10 .fm-accordion-section-header,
.accordion-test-11 .fm-accordion-section-header {
  background-color: #c7c3bd;
}

.fm-accordion.opened .fm-accordion-section.closed .fm-accordion-section-header {
  height: 5px;
}

.fm-accordion.opened .fm-accordion-section.closed:hover .fm-accordion-section-header {
  height: 20px;
  background-color: black;
  color: white;
}

.fm-accordion-section {
  border-bottom: 1px solid white;
}

.fm-accordion-section.opened {
  position: relative;
  //box-shadow: 0 1px 3px #000;
  z-index: 1;
}

.fm-accordion-section .fm-accordion-section-content,
.fm-accordion-section-header {
  transition: height 0.2s ease-in-out;
}

.fm-accordion-section-header h1 {
  transition: font-size 0.2s ease-in-out;
}

.fm-accordion-section-header {
  height: 20px;
  position: relative;
}

.fm-accordion-section .fm-accordion-section-header-toggle-button {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fm-accordion-section.opened .fm-accordion-section-header {
}

.fm-accordion-section.opened .fm-accordion-section-header {
  height: 30px;
}

.fm-accordion-section.opened .fm-accordion-section-header h1 {
  font-size: 25px;
}

.fm-accordion-section.opened .fm-accordion-section-content {
  overflow: scroll;
  height: 300px;
}

.fm-accordion-section.closed .fm-accordion-section-content {
  overflow: hidden;
  height: 0;
}

.fm-accordion-section-header {
  overflow: hidden;
}

.fm-accordion-section-header h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.accordion-test-item {
  height: 800px;
  text-align: left;
}
