@dropdown-button-height: 30px;

.fm-dropdown-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.fm-dropdown {
  width: 100%;
  position: relative;
  background: white;
}

.fm-dropdown.disabled {
  opacity: 0.5;
  pointer-events: none;

  .fm-dropdown-button {
    pointer-events: none !important;
  }
}

.fm-dropdown-button {
  height: @dropdown-button-height;
  padding-left: 17px;
  padding-right: 40px;
  background-position: 17px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: white;
}

.fm-dropdown-button-arrow {
  width: 10px;
  height: 6px;
  background-image: data-uri("./images/dropdown_arrow.svg");
  margin-right: 10px;
}

.fm-dropdown-button-text {
  padding-top: 3px;
  color: #9b9b9b;
  line-height: 14px;
  letter-spacing: 0.55px;
}

.fm-dropdown .fm-dropdown-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  position: absolute;
  background: white;
  padding-bottom: 0px;
  padding-top: 0px;
  box-sizing: border-box;
  width: 100%;
  display: none;
}

.fm-dropdown.active .fm-dropdown-list {
  display: flex;
  animation: hide-dropdown 0.2s forwards;
}

.fm-dropdown .fm-dropdown-list .fm-dropdown-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  color: gray;
  flex: 0 0 auto;
  padding-left: 37px;
  padding-right: 40px;
}

.fm-dropdown .fm-dropdown-list .fm-dropdown-list-item.selected {
  font-weight: bold;
}

.fm-dropdown .fm-dropdown-list .fm-dropdown-list-item:hover {
  cursor: pointer;
  color: black;
}

// Direction:down styling
.fm-dropdown.down .fm-dropdown-list {
  transform-origin: top;
  flex-direction: column;
}

// Direction:up styling
.fm-dropdown.up .fm-dropdown-list {
  bottom: @dropdown-button-height;
  transform-origin: bottom;
  flex-direction: column;
}

// .fm-dropdown.up .fm-dropdown-button-arrow {
//   transform: scaleY(-1);
// }

// Selected styling

.fm-dropdown.selected .fm-dropdown-button-text {
  color: #000000 !important;
}

// Expanded styling
.fm-dropdown.down.expanded .fm-dropdown-button-arrow {
  transform: scaleY(-1);
}

.fm-dropdown.up.expanded .fm-dropdown-button-arrow {
  transform: scaleY(1);
}

.fm-dropdown.expanded .fm-dropdown-list {
  animation: show-dropdown 0.2s forwards;
}

@keyframes show-dropdown {
  0% {
    display: flex;
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes hide-dropdown {
  0% {
    display: flex;
    transform: scaleY(1);
  }
  98% {
    display: flex;
  }
  100% {
    display: none;
    transform: scaleY(0);
  }
}
