@fm-side-menu-button-height: 38px;

@fm-edge-menu-width: 290px;
@fm-edge-menu-height: 100%;

@fm-edge-menu-width-vertical: 100%;
@fm-edge-menu-height-vertical: 500px;

@fm-edge-menu-container-width: 250px;
@fm-edge-menu-container-height: 100%;

// BASE STYLING
.fm-edge-menu-container-holder {
  position: absolute;
  width: @fm-edge-menu-width;
  height: @fm-edge-menu-height;
  // border: 1px dashed red;
  overflow: hidden;
  color: white;
  transition: width 0.4s;
}

.fm-edge-menu-container-holder.closed {
  width: 40px;
}

.fm-edge-menu-container {
  position: absolute;
  top: 0px;
  width: @fm-edge-menu-container-width;
  height: @fm-edge-menu-container-height;
  background-color: black;
  transition: 0.4s;
}

.fm-edge-menu-content-holder {
  position: relative;
  height: 100%;
}

.fm-edge-menu-container-button {
  position: absolute;
  width: 40px;
  height: 238px;
  top: 148px;
  background-color: black;
  overflow: hidden;
}

.fm-edge-menu-container-button-text {
  display: block;
  margin: 20px;
  font-size: 18px;
  color: #ffffff;
  color: white;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

// ALIGN LEFT
.fm-edge-menu-container-holder.align-left {
  top: 0px;
  left: 0px;
}

.align-left.open .fm-edge-menu-container {
  left: 0px;
}

.align-left.closed .fm-edge-menu-container {
  left: -@fm-edge-menu-container-width;
}

.align-left .fm-edge-menu-container-button {
  left: @fm-edge-menu-container-width;
}

// ALIGN RIGHT
.fm-edge-menu-container-holder.align-right {
  top: 0px;
  right: 0px;
}

.align-right.open .fm-edge-menu-container {
  right: 0px;
}

.align-right.closed .fm-edge-menu-container {
  right: -@fm-edge-menu-container-width;
}

.align-right .fm-edge-menu-container-button {
  left: -@fm-side-menu-button-height;
}

// ALIGN BOTTOM

.fm-edge-menu-container-holder.align-bottom {
  width: @fm-edge-menu-width-vertical;
  height: @fm-edge-menu-height-vertical;
  // border: 1px dashed red;
  overflow: hidden;
  color: white;
}

.align-bottom .fm-edge-menu-container {
  top: auto;
}

.align-bottom.open .fm-edge-menu-container {
  bottom: 0px;
}

.align-bottom.closed .fm-edge-menu-container {
  bottom: -@fm-edge-menu-height-vertical;
}
