@languageSelectorColumnWidth: 200px;


.fm-language-selector {
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  column-fill: balance;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  height: 120px;
}

.fm-language-selector .fm-button {
  box-sizing: border-box;
  text-transform: capitalize;
  display: block;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  margin-bottom: 1px;
}

.fm-language-selector .fm-button.selected {
  padding: 0px;
}

.fm-language-selector-item {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.fm-language-selector .fm-language-selector-item {
  border: 1px solid white;
}

.fm-language-selector .selected .fm-language-selector-item {
  border: 1px solid black;
}


.fm-language-selector .fm-language-selector-flag {
  opacity: 0.5;
}

.fm-language-selector .selected .fm-language-selector-flag {
  opacity: 1;
}


.fm-language-selector-text {
  font-size: 10px;
  font-weight: bold;
  color: #999999;
  display: block;
  -webkit-font-smoothing: antialiased;
  padding-left: 3px;
  padding-right: 3px;
}

.selected .fm-language-selector-text,
.selected .fm-language-selector-text:hover {
  color: black;
}
