@video-controls-height: 59px;
@video-controls-width: @content-width;
@video-controls-button-width: @video-controls-height;
@video-controls-button-height: @video-controls-button-width;
@progress-bar-transition-time: 0.1s;

@video-controls-waiting-indicator-icon-size: 18px;

@video-controls-button-position-top: 86px;
@video-controls-button-position-left: 0px;

@fm-video-controls-progress-bar-width: 754px;

@video-controls-button-left: @video-controls-button-position-left;

.waiting {

}

.graphic-item-video-controls {
  height: @video-controls-height;
  width: @video-controls-width;
  pointer-events: none;
  background: rgba(0,0,0,0.85);

  .graphic-item{
    position: absolute !important;
  }
}

.graphic-item-video-controls-container {
  position: absolute;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

/* ==========================================================================
   Video Control Progress Bar
   ========================================================================== */


.idle .graphic-item-video-controls-container-subtitle-progressbar-holder,
.ended .graphic-item-video-controls-container-subtitle-progressbar-holder {
  transform: translateY(@video-controls-height);
}

.graphic-item-video-controls-container-subtitle-progressbar-holder {
  top: 0;
  width: 100%;
  transition: all 0.15s ease-out;
  pointer-events: none;
}

.graphic-item-video-controls .fm-video-controls-progress-bar {
  pointer-events: all;
}

.graphic-item-video-controls:hover .fm-video-controls-progress-bar {
  height: 6px;
}

.fm-video-controls-progress-bar {
  z-index: 100;
  position: absolute;
  background-color: #7e7e7e;
  width: @video-controls-width - (@video-controls-button-position-left + @video-controls-button-width);
  height: 2px;
  bottom: 0px;
  left: @video-controls-button-position-left + @video-controls-button-width;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: height @progress-bar-transition-time;
}

.fm-video-controls-progress-bar-play-progress {
  background-color: #00a8ff;;
  height: 100%;
  width: 100%;
  left: 0px;
}

.fm-video-controls-progress-bar-handle {
  position: absolute;
}



/* ==========================================================================
   Video Control Time Display
   ========================================================================== */

  // Only visivle in devMode
 .graphic-item-video-controls-time-display {
   color: black;
   position: absolute;
   top: -13px;
   left: 4px;
   font-size: 11px;
   display: block;
 }

.video-controls-time-display {
  position: absolute;
  bottom: 0;
  color: #7e7e7e;
  font-size: 11px;
}

.production-mode .video-controls-time-display {
  display: none;
}

.video-controls-time-display-current-time,
.video-controls-time-display-divider,
.video-controls-time-display-duration {
  display: inline-block;
}

.video-controls-time-display-divider:before {
  content: " / ";
}

/* ==========================================================================
   Video Control Buttons
   ========================================================================== */

   .video-controls-button {
     z-index: 999;
     position: absolute;
     top: 0;
     left: @video-controls-button-left;
     width: @video-controls-button-width;
     height: @video-controls-button-height;
     background-color: black;

     background-position: center;
     background-repeat: no-repeat;
     cursor:pointer;
     pointer-events: all;
   }

.no-touch .video-controls-button.enabled:hover,
.touch .video-controls-button.enabled:active {
  background-color: white;
}

.play-pause-button.video-controls-button {
  // Warning: This button is having visiblity issues in IE11
  background-image: url("../images/video_pause_black_bottom.svg");
}

.play-pause-button.video-controls-button:hover {
  background-image: url("../images/video_pause_white_bottom.svg");
}

.play-pause-button.video-controls-button.idle,
.play-pause-button.video-controls-button.paused {
  background-image: url("../images/video_play_black_bottom.svg");
}

.play-pause-button.video-controls-button.idle:hover,
.play-pause-button.video-controls-button.paused:hover {
  background-image: url("../images/video_play_white_bottom.svg");
}

.play-pause-button.video-controls-button.ended {
  background-image: url("../images/video_replay_black_bottom.svg");
}

.play-pause-button.video-controls-button.ended:hover {
  background-image: url("../images/video_replay_white_bottom.svg");
}


/* ==========================================================================
   Waiting indicator
   ========================================================================== */

.video-controls-waiting-indicator {
  position: absolute;
  top: 0;
  left: @video-controls-button-position-left;
  display: none;
  width: @video-controls-button-width;
  height: @video-controls-button-height;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.video-controls-waiting-indicator-text {
  position: absolute;
  top: 0;
  width: 300px;
  left: 58px;
}

.video-controls-waiting-indicator-icon {
  background-image: data-uri("images/loading_animation.svg");
  background-repeat: no-repeat;
  width: @video-controls-waiting-indicator-icon-size;
  height: @video-controls-waiting-indicator-icon-size;
  background-size: @video-controls-waiting-indicator-icon-size @video-controls-waiting-indicator-icon-size;
  animation: rotation 2s linear infinite;
  position: absolute;
  top: calc(@video-controls-button-height ~"/2 - " @video-controls-waiting-indicator-icon-size ~"/2");
  left: calc(@video-controls-button-width ~"/2 - " @video-controls-waiting-indicator-icon-size ~"/2");
}

@keyframes rotation {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}

.waiting .video-controls-waiting-indicator {
  display: block;
}

.waiting .play-pause-button {
  display: none;
}
