@funkis-gray: #7f7f7f;
@funkis-red: #fc3a1d;
@funkis-light-blue: #84a8f2;
@funkis-orange: #fd9326;
@funkis-pink: #fd89fd;
@funkis-green: #72be49;

@import "components/FMVideoControlsStyle";
@import "components/FMEdgeMenuContainerStyle";

.fm-inspector {
  font-size: 12px;
  color: white;
  position: fixed !important;
  direction: ltr;
  font-family: "Avenir";
}

.fm-inspector-heading {
  font-family: "Avenir", monospace;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  color: @funkis-gray;
  font-size: 1.2em;
}

.fm-inspector-generic-button {
  border: 1px solid @funkis-gray;
  display: inline-block;
  padding: 5px 15px;
  color: white;
  font-size: 12px;
  margin-right: 5px;
  background: #222222;
  border-radius: 2px;
  font-family: Arial !important;
}

.fm-inspector-generic-button:hover {
  color: @funkis-pink;
  background: #222222;
}

/* ==========================================================================
     Discreet checkbox
   ========================================================================== */

.fm-inspector-discreet-button {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
  color: @funkis-gray;
  cursor: pointer;
  display: block;
}

.fm-inspector-discreet-button input,
.fm-inspector-discreet-button label {
  cursor: pointer;
}

.fm-inspector-clear-button {
  color: @funkis-pink;
  font-size: 12px;
  float: right;
  margin-top: 5px;
  font-family: Arial;
}

/* ==========================================================================
     Tabs
   ========================================================================== */

.fm-inspector .tabs-navigation {
  padding: 0 10px;
  height: 33px;
  border-bottom: 1px solid @funkis-gray;
  margin-top: 5px;
}

.fm-inspector .tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fm-inspector .tabs-menu-item {
  float: left;
}

.fm-inspector .tabs-menu-item a {
  display: block;
  padding: 0 10px 2px 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 0;
  color: #a9a9a9;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  border-radius: 2px;
  font-size: 12px;
  background: #000000;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.fm-inspector .tabs-menu-item:not(.is-active) a:hover {
  color: #cccccc;
}

.fm-inspector .tabs-menu-item.is-active a {
  color: #ffffff;
  border-bottom: 2px solid black !important;
  border-left: 1px solid @funkis-gray;
  border-right: 1px solid @funkis-gray;
  border-top: 1px solid @funkis-gray;
}

.fm-inspector .tabs-panel {
  display: none;
  padding: 30px;
}

.fm-inspector .tabs-panel.is-active {
  display: block;
}

/* ==========================================================================
    Structure overview
   ========================================================================== */
.fm-inspector-structure-overview {
  padding: 0px !important;
}

.fm-inspector-structure-overview-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 0px;
  margin-left: 10px;
}

.fm-inspector-structure-overview-item-scene {
  margin-left: 30px;
  // background: red;
  // margin-bottom: 2px;
}

.fm-inspector-structure-overview-item-text {
  flex: 1 auto;
  margin: 0px 5px;
}

.fm-inspector-structure-overview-status-button {
  // width: 10px;
  // height: 10px;
  // background: lime;
}

.fm-inspector-structure-overview-item-navigate-button {
  // border: 1px solid red;
}

.fm-inspector-structure-overview-item-thumbnail,
.fm-inspector-structure-overview-item-empty-thumbnail {
  width: 50px;
  height: 30px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  // display: none;
}

.fm-inspector-structure-overview-status-button {
  margin: 5px;
}

.fm-inspector-structure-overview-status-button {
  width: 10px;
  height: 10px;
}

.fm-inspector-structure-overview-status-button.not-attempted {
  background: #fc3a1d;
  border-radius: 50px;
}

.fm-inspector-structure-overview-status-button.incomplete {
  background: #fd9326;
  border-radius: 1px;
}

.fm-inspector-structure-overview-status-button.completed {
  background: #72be49;
  border-radius: 1px;
}

.fm-inspector-structure-overview-item-chapter.selected .fm-inspector-structure-overview-item-text {
  opacity: 1 !important;
}

.fm-inspector-structure-overview-item {
  border-bottom: 1px solid fade(@funkis-gray, 20%);
  border-top: 1px solid fade(@funkis-gray, 20%);
}

.fm-inspector-structure-overview-item:nth-child(odd) {
  background-color: fade(@funkis-gray, 20%);
}

.fm-inspector-structure-overview-item:hover {
  background-color: fade(@funkis-gray, 30%);
}

.fm-inspector-structure-overview-status-button-button {
  width: 10px;
  height: 10px;
}

.fm-inspector-structure-overview-status-button-content {
  position: absolute;
  right: 30px;
  width: 120px;
  height: 80px;
  padding: 10px;
  background: black;
  border: 1px solid fade(#666666, 60%);
  font-weight: normal;
  background: #333333;
}

.fm-inspector-structure-overview-status-button-content .fm-button {
  font-size: 11px;
  width: 100%;
  height: 20px;
  line-height: 20px;
}

.fm-inspector-structure-overview-status-button-content .fm-button:hover {
  color: fade(#cccccc, 90%);
}

.fm-inspector-structure-overview-status-button-content .fm-button .icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 2px;
}

.fm-inspector-structure-overview-status-button-content .fm-button.not-attempted .icon {
  background: #fc3a1d;
  border-radius: 50px;
}

.fm-inspector-structure-overview-status-button-content .fm-button.incomplete .icon {
  background: #fd9326;
  border-radius: 1px;
}

.fm-inspector-structure-overview-status-button-content .fm-button.completed .icon {
  background: #72be49;
  border-radius: 1px;
}

.fm-inspector-structure-overview-item.highlighted .fm-inspector-structure-overview-item-text {
  color: @funkis-pink;
  font-weight: bold;
}

/* ==========================================================================
     Widgets
   ========================================================================== */

.fm-inspector-widget {
  padding: 10px 15px 15px 15px;
  // border-bottom: 1px solid fade(@funkis-gray, 30%);
}

.fm-inspector-widget:nth-child(even) {
  background: fade(@funkis-gray, 30%);
}

.fm-inspector-reload-files {
  .fm-inspector-widget;
}

.fm-inspector-reload-files .fm-inspector-reload-button {
  border: 1px solid @funkis-gray;
  display: inline-block;
  padding: 5px 15px;
  color: white;
  font-size: 12px;
  margin-right: 5px;
  background: #222222;
  border-radius: 2px;
}

.fm-inspector-reload-files .fm-inspector-reload-button:hover {
  color: @funkis-pink;
  background: #222222;
}

.fm-inspector-reload-files-row {
  margin-bottom: 3px;
}

.fm-inspector-reload-files-row label {
  padding-left: 10px;
  cursor: pointer;
  color: white;
}

.fm-inspector-reload-files-row input {
  margin-right: 5px;
}

.fm-inspector-reload-files-checkbox {
  margin-bottom: 3px;
}

/* ==========================================================================
     Start point selector
   ========================================================================== */

.fm-inspector-start-point-selector {
  .fm-inspector-widget;
}

.fm-inspector-start-point-selector h2 {
  vertical-align: bottom;
  padding-bottom: 5px;
}

.fm-inspector-start-point-selector .fm-inspector-generic-button {
  float: right;
}

.fm-inspector-start-point-selector .fm-inspector-clear-button {
  float: right;
  margin-left: 10px;
}

.fm-inspector-start-point-selector .fm-dropdown {
  margin-bottom: 5px;
}

.inspector-start-point-locomotives-start-time {
  width: 50px;
  height: 20px;
  border-radius: 2px;
  border: 0px;
  padding: 2px 8px;
  margin-left: 5px;
}

/* ==========================================================================
     Config editor
   ========================================================================== */

.fm-inspector-config-editor {
  .fm-inspector-widget;
}

.fm-inspector-config-editor table {
  color: white;
  font-size: 12px;
  padding-bottom: 10px;
}

.fm-inspector-config-editor table td:first-of-type {
  vertical-align: top;
}

.fm-inspector-config-editor input[name="imageOverlayOpacity"]::-webkit-inner-spin-button,
.fm-inspector-config-editor input[name="imageOverlayOpacity"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fm-inspector-config-editor input[type="checkbox"] {
  cursor: pointer;
}

.fm-inspector-config-editor table tr:last-of-type td:nth-child(2) input[type="checkbox"] {
  margin-right: 5px;
}

.fm-inspector-config-editor-image-overlay-cell-file-name {
  display: block;
}

.fm-inspector-config-editor-image-overlay-cell-file-upload {
  margin-top: 10px;
  display: block;
}

.fm-inspector-config-editor table tr:last-of-type td:nth-child(2) input:nth-child(4) {
  margin-right: 10px;
}

.fm-inspector-config-editor input[type="file"] {
  color: transparent;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 60px;
  display: inline-block;
}

.fm-inspector-config-editor input[type="number"] {
  width: 40px;
  margin-left: 3px;
  margin-right: 4px;
  border-radius: 2px;
  border: 0px;
  height: 20px;
  padding: 1px 2px;
}

.fm-inspector-config-editor-image-overlay-cell {
}

.fm-inspector-clear-image-overlay-button {
  // position: absolute;
  float: none;
  display: inline-block;
  margin-top: 0px;
}

/* ==========================================================================
    Language selection
  ========================================================================== */

.inspector-language-selection .fm-inspector-generic-button {
  margin-top: 5px;
}

.inspector-language-selection .stop-language-loop-button {
  margin-left: 10px;
}

.inspector-language-selection input {
  width: 25px;
}

.inspector-language-selection .fm-inspector-generic-button.disabled {
  .animation(inspectorPulse 1.5s infinite);

  color: @funkis-pink;
  border-color: @funkis-pink;

  @keyframes inspectorPulse {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/* ==========================================================================
     Course info
   ========================================================================== */
.fm-inspector-course-info {
}

.fm-inspector-course-info a {
  color: @funkis-pink;
}

.fm-inspector-course-info a:hover {
  color: #cccccc;
}

.fm-inspector-course-info h3 {
  font-weight: bold;
  font-size: 12px;
}

.fm-inspector-course-info .completed {
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px 14px;
  background-image: data-uri("image/png;base64", "../images/completed.png");
  margin-left: 5px;
  display: inline-block;
  font-weight: normal;
}

.fm-inspector-course-info .incomplete {
  font-weight: normal;
  margin-left: 5px;
}

.fm-inspector-course-info .incomplete:after {
  background: #fd9326;
  border-radius: 1px;
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  margin-top: 1px;
}

.json-inspector__leaf_expanded {
}

.json-inspector,
.json-inspector__selection {
  font: 14px/1.4 Consolas, monospace;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.json-inspector__leaf {
  padding-left: 10px;
}

.json-inspector__line {
  display: block;
  position: relative;

  cursor: default;
}

.json-inspector__line:after {
  content: "";

  position: absolute;
  top: 0;
  left: -200px;
  right: -50px;
  bottom: 0;
  z-index: -1;

  pointer-events: none;
}

.json-inspector__line:hover:after {
  background: rgba(0, 0, 0, 0.06);
}

.json-inspector__leaf_composite > .json-inspector__line {
  cursor: pointer;
}

.json-inspector__radio,
.json-inspector__flatpath {
  display: none;
}

.json-inspector__value {
  margin-left: 5px;
}

.json-inspector__search {
  min-width: 300px;
  margin: 0 10px 10px 0;
  padding: 2px;
}

.json-inspector__key {
  color: #b0b0b0;
}

.json-inspector__value_helper,
.json-inspector__value_null,
.json-inspector__not-found {
  color: #505050;
}

.json-inspector__value_string {
  color: @funkis-pink;
}

.json-inspector__value_boolean {
  color: @funkis-green;
}

.json-inspector__value_number {
  color: @funkis-orange;
}

.json-inspector__hl {
  background: #ff0;
  box-shadow: 0 -1px 0 2px #ff0;
  border-radius: 2px;
}

.json-inspector__show-original {
  display: inline-block;
  padding: 0 6px;

  color: #666;
  cursor: pointer;
}

.json-inspector__show-original:hover {
  color: #111;
}

.json-inspector__show-original:before {
  content: "⥂";
}

.json-inspector__show-original:hover:after {
  content: " expand";
}

/* ==========================================================================
     Image overlay
   ========================================================================== */

.fm-inspector-image-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 99;
  text-align: center;
  padding: 0px;
  pointer-events: none;
}

.fm-inspector-image-overlay img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px;
  margin: 0px;
  border: 0px;
  pointer-events: none;
}

/* ==========================================================================
     Dropdown
   ========================================================================== */

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
