/* ==========================================================================
     Edge Menu & Edge Menu Button
   ========================================================================== */
@inspector-fm-edge-menu-container-width: 400px;

.no-touch .fm-inspector.fm-edge-menu-container-holder .fm-inspector-button:hover,
.touch .fm-inspector.fm-edge-menu-container-holder .fm-inspector-button:active {
  .fm-inspector-button-hover;
}

.fm-inspector-button-hover {
  color: @funkis-pink;
  left: -325px;
  .transition(color 0.1s linear);
  .transition(left 0.1s ease);
}

.fm-inspector {
  z-index: 99;

  // level 1
  &.fm-edge-menu-container-holder {
    width: 480px;
  }

  // level 2
  .fm-edge-menu-container {
    width: @inspector-fm-edge-menu-container-width;
  }

  // level 3
  .fm-edge-menu-content-holder {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &.fm-edge-menu-container-holder.closed.discreet {
    width: 10px;
  }

  &.fm-edge-menu-container-holder.closed {
    width: 80px;
    pointer-events: none;
  }

  &.closed .fm-edge-menu-container {
    left: -@inspector-fm-edge-menu-container-width;
  }

  &.discreet .fm-edge-menu-container-button:hover {
    opacity: 0.2;
  }

  .fm-edge-menu-container-button {
    width: 100px;
    height :400px;
    left: @inspector-fm-edge-menu-container-width !important;
    font-size: 24px;
    z-index: @z-index-fm-inspector-button;
    background: transparent;
    top: 50%;
    margin-top: -50%;
    pointer-events: all;
  }

  &.discreet .fm-edge-menu-container-button {
    background: black;
    border-radius: 0px;
    right: 0px;
    opacity: 0;
    height: 400px !important;
    width: 10px !important;
  }

  &.fm-edge-menu-container-holder .fm-inspector-button {
    position: absolute;
    left: -330px;
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 200px;
    .transition(color 0.2s linear);
    .transition(left 0.2s ease);
  }

  &.fm-edge-menu-container-holder .fm-inspector-button-text {
    display: block;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: center !important;
    font-family: "Avenir", monospace;
    width: 100%;
    z-index: @z-index-fm-inspector-button;
    right: -160px;
    top: 160px;
  }
}
