.choice-alternative {}

@alternatives-y-offset: 10px;

.question-point {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  opacity: 0;
  color: @correct-color;
  z-index: 1;

  &.show {
    display: flex;
    font-size: 20px;
    animation-name: text-pop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
}

.choice-alternative-button {
  position: absolute;
  width: 416px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.5);

  box-sizing: border-box;
  padding: 10px;

  display: inline-flex;
  align-items: baseline;

  animation-fill-mode: forwards !important;
  animation-iteration-count: 1;
  opacity: 0;

  h1 {
    margin: 0;
    margin-right: 10px;
  }
}


.choice-alternative-button:nth-of-type(1) {
  right: @content-width / 2 + 2;
  top: @content-height / 2 + @alternatives-y-offset;
  animation-delay: 0.02s;

  &.coming-in {
    animation: twist-in-left-alt 5s linear;
  }

  &.going-out {
    opacity: 1;
    animation: twist-out-left-alt 0.5s linear;
    animation-delay: 1s;
  }
 }
 .choice-alternative-button:nth-of-type(2) {
  left: @content-width / 2 + 2;
  top: @content-height / 2 + @alternatives-y-offset;
  animation-delay: 0.04s;

  &.coming-in {
    animation: twist-in-right-alt 5s linear;
  }

  &.going-out {
    opacity: 1;
    animation: twist-out-right-alt 0.5s linear;
    animation-delay: 1s;
  }
 }
 .choice-alternative-button:nth-of-type(3) {
  right: @content-width / 2 + 2;
  top: @content-height / 2 + @alternatives-y-offset + 59px;
  animation-delay: 0.06s;

  &.coming-in {
    animation: twist-in-left-alt 5s linear;
  }

  &.going-out {
    opacity: 1;
    animation: twist-out-left-alt 0.5s linear;
    animation-delay: 1s;
  }
 }
 .choice-alternative-button:nth-of-type(4) {
  left: @content-width / 2 + 2;
  top: @content-height / 2 + @alternatives-y-offset + 59px;
  animation-delay: 0.06s;

  &.coming-in {
    animation: twist-in-right-alt 5s linear;
  }

  &.going-out {
    opacity: 1;
    animation: twist-out-right-alt 0.5s linear;
    animation-delay: 1s;
  }
 }

 .choice-alternative-button:hover {background-color: @project-highlight-color-1;}
 .choice-alternative-button.correct {background-color: @correct-color;}
 .choice-alternative-button.incorrect {background-color: @incorrect-color;}

 @keyframes twist-in-left-alt {
  0% {
    transform: translateZ(-1000px) rotate3d(0,1,0,-90deg);
  }
  5% {
    transform: translateZ(0px) rotate3d(1,1,1,0deg);
    opacity: 1;
  }

  100% { opacity: 1; }
}
@keyframes twist-out-left-alt {
  0% {
    transform: rotate3d(1,1,1,0deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(500px) rotate3d(0,1,0,-750deg) rotate3d(1,0,0,-50deg);
    opacity: 0;
  }
}
@keyframes twist-in-right-alt {
  0% {
    transform: translateZ(-1000px) rotate3d(0,1,0,90deg);
  }
  5% {
    transform: translateZ(0px) rotate3d(1,1,1,0deg);
    opacity: 1;
  }
  100% { opacity: 1; }
}

@keyframes twist-out-right-alt {
  0% {
    transform: rotate3d(1,0,1,0deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(500px) rotate3d(0,1,0,750deg) rotate3d(1,0,0,-50deg);
    opacity: 0;
  }
}


@keyframes text-pop {
  from {
    opacity: 1;
    font-size: 10px;
  }
  to {
    opacity: 0;
    font-size: 1000px;
  }
}
