.quiz-game-round {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quiz-question-count {
  position: absolute;
  top: 25px;
  left: 25px;
  color: @project-highlight-color-2;
  font-weight: bold;

}

.question-timer {
  position: absolute;
  top: 25px;
  right: 25px;
  // background-color: @project-highlight-color-1;
  background: -webkit-radial-gradient(50% 50%, circle, transparent 60%, @project-highlight-color-2 60%);
  background: -moz-radial-gradient(50% 50%, circle, transparent 60%, @project-highlight-color-2 60%);
  background: radial-gradient(50% 50%, circle, transparent 60%, @project-highlight-color-2 60%);

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  .counter-number {
    font-size: 25px;
    font-weight: bold;
  }
}
