.quiz {
  color: white;
  background-color: rgb(48, 48, 48);
  width: @content-width;
  height: @content-height;
  user-select: none; // make text not selectable

  // background-image: url("https://payxintl.com/wp-content/uploads/2016/03/fast-train-tunnel.jpg");
}

.quiz-intro-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 1s linear;
  animation-fill-mode: forwards;

  &.going-out {
    animation: fade-out 1s linear;
    animation-fill-mode: forwards;
  }

  .start-button {
    display: inline-flex !important;
    min-width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    padding: 0px 40px;
    font-size: 40px;
  }
  .start-button:hover {
    background-color: @project-highlight-color-1
  }

  .arrow {
    height: 20px;
    width: 20px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: rotate(45deg);
    margin-right: 16px;
    margin-left: -40px;
  }
}

.quiz-outro-page {
  &:extend(.quiz-intro-page all);
}

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade-out {
  from {opacity: 1}
  to {opacity: 0}
}
