@content-width: 975px;
@content-height: 584px;

body {
  font-family: @funkis-sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: @funkis-serif;
}

.rtl,
.dev-mode.dev-mode-rtl {
  direction: rtl;
}

.dev-mode.dev-mode-video-border .fm-video-player::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: inset 0px 0px 0px 1px @funkis-light-blue;
}

.dev-mode.dev-mode-graphic-item-border .graphic-item:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: inset 0px 0px 0px 1px @funkis-red;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

// Remove `overflow: hidden;` if project is scaled using `FMScalableContainer`
.fm-scalable-container .fm-inner-container {
  overflow: visible;
}

.fm-scalable-container .fm-outer-container {
  overflow: visible;
}

.fm-project {
  background-color: #f0f0ef;
}

.fm-inner-container {
  width: @content-width;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px dashed gray;
  border-left: 1px dashed gray;
}

.fm-outer-container {
  border: 1px solid #b7b7b7;
  overflow: hidden;
}

.graphic-item > div {
  transition: opacity 0.5s linear;
}

.bold {
  font-weight: bold;
}

.no-touch .default-button:hover,
.touch .default-button:active {
  background-color: black;
  color: white;
}

.abs-container-graphic-item {
  display: block;
  .graphic-item {
    position: absolute !important;
  }
}
